# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#Setup.py stuff
*.egg-info/
build/
dist/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

#Random things
notes.txt
timing_test.py
